<br>
<div class="pimg1">


    <div class="ptext animated fadeIn">
        <span class="border trans">
            <br>
                <p id="title" class="animated fadeIn" style="font-family:'Montserrat'; font-size:40px;"> ROSE BUILDING MAINTENANCE</p>
                </span>
    </div>

</div>
<section class="section section-dark animated fadeIn">

    <h2 style="text-decoration:underline; font-family:'Montserrat'"> Our Goal </h2>
    <br>
    <p style="font-size:20px; font-family:'Montserrat'">The selection of the right cleaning company is an important decision that can go a long way in enhancing your company’s
        professional image.</p>
    <p style="font-size:20px; font-family:'Montserrat'">

        Rose Building Maintenance has the knowledge, experience, and personnel necessary to create an individualized cleaning program
        for your business, regardless of size. Whether you require daily, weekly, or even monthly service, we can provide
        you with a number of contract and on-demand services. At Rose Building Maintenance, we can help you with any of the
        following:</p>

</section>

<div class="pimg2">

</div>

<section class="section section-dark animated fadeIn">

    <h2 style="text-decoration:underline; font-family:'Montserrat'"> Sparkle You Can Trust. </h2>
    <br>
    <p style="font-size:20px; font-family:'Montserrat'">
       - Clean buildings extend the longevity of the structure.</p>
    <p style="font-size:20px; font-family:'Montserrat'">
       - Clean buildings convey a caring attitude
    </p>
    <p style="font-size:20px; font-family:'Montserrat'">
       - Clean buildings ensure a contaminate free, thus safer and healthier, environment
    </p>


</section>

<div class="pimg3">
    <!--<div class = "ptext">
                <span class = "border trans">
                   <a style="color:white;" href="http://fathomless-caverns-94991.herokuapp.com/"> House Of Jewels MEAN Shop</a>
                </span>
            </div>-->
</div>
<section class="section section-dark animated fadeIn">

    <h2 style="text-decoration:underline; font-family:'Montserrat'"> Improve employee morale </h2>
    <br>
    <p style="font-size:20px; font-family:'Montserrat'">
       - Cleanliness equates to employee happiness and reduced employee turnover</p>
        <p style="font-size:20px; font-family:'Montserrat'">
           - Employee productivity has been shown to increase in a clean building</p>
    <h2 style="text-decoration:underline;" style="font-family:'Montserrat'"> Reduce costs and increase revenue</h2>
    <br>
    <p style="font-size:20px; font-family:'Montserrat'">
       - Maintenance costs are reduced in a clean building</p>
        <p style="font-size:20px; font-family:'Montserrat'">
          -  Increased tenant satisfaction and reduced tenant turnover can be attributed to a clean building</p>


    <a style="text-decoration:none;  color:#666;" href="https://github.com/ohrha/ROSE"> 
</a>
</section>
<!-- <section class = "section section-dark">

            <h2> Reduce costs and increase revenue
</h2>
            <p> Chanka Blanko</p>
        </section>-->
<div class="pimg1">
    <div class="ptext animated fadeIns">
        <span class="border trans">
                   <p> SUITE 118, NO.7 ST.ANNE STREET</p>
                   <p> ST.ALBERT, ALBERTA T8N 2X4</p>
                   <p> TEL| 780-459-4146</p>
                   <p> FAX| 780-460-4146</p>
                </span>
    </div>
</div>