<div id="margin">
<br>
    <div class="pimg1">


        <div class="ptext animated fadeIn">
            <span class="border trans">
                <br>
                <p id="title" style="font-size:30px; font-family: 'Montserrat';">ABOUT US</p>
                </span>
        </div>

    </div>
    <section class="section section-dark animated fadeIn">

        <h2 style="text-decoration:underline; font-family:'Montserrat'"> Our Story </h2>
        <br>
        <p style="font-size:20px; font-family:'Montserrat'">
            Having been in operation since 1982, Rose Building Maintenance Ltd. has positioned itself as one of Alberta’s leading
            contract cleaning companies. Alberta owned and operated, with our head office located in St. Albert, we are able
            to offer professional services at competitive rates. Our management philosophy, as it relates to the provision
            of service, is to provide consistent prestige cleaning. In order to provide this level of service, we require
            clear, ongoing communication between our clients and staff at all levels, accountability, reliable resources,
            and in-depth knowledge of our client’s operations and personnel.</p>
            <p style="font-size:20px; font-family:'Montserrat'">
                Our employees share a common goal and vision, that is, to provide the best quality workmanship in the industry. We
            pride ourselves on our ability to give our customers quality, scheduled service – consistently. Our management
            team understands the need to be able to accommodate unforeseen circumstances. With that in mind, our employees
            consistently demonstrate the ability to adapt to changing conditions or programs. At Rose Building Maintenance
            Ltd., we stress the use of environmentally friendly products and industry best practices. Additionally, we comply
            with all applicable W.H.M.I.S. and O.H.S. legislation.</p>
            <p style="font-size:20px; font-family:'Montserrat'">
                Cleanliness equates to employee happiness and reduced employee turnover</p>

    </section>

    <div class="pimg1">
        <div class="ptext">
            <span class="border trans">
                    
                </span>
        </div>
    </div>


</div>